{% if page.footer.extensions.releva.tracking_active and page.footer.extensions.releva.user_id %}
    {% if page.order is defined and page.order != null %}
        {% set productIds = [] %}
        {% for orderItem in page.order.lineItems %}
            {% set productIds = productIds | merge ([orderItem.getProductId]) %}
        {% endfor %}
        <div id="relevanzRetargetingConfig" data-src="{{ page.footer.extensions.releva.conv_url }}?cid={{ page.footer.extensions.releva.user_id }}&orderId={{ page.order.getId() }}&amount={{ page.order.getAmountTotal() }}&products={{ productIds | join(',') }}"></div>
    {% elseif page.product is defined and page.product != null %}
        <div id="relevanzRetargetingConfig" data-ascync="async" data-src="{{ page.footer.extensions.releva.tracker_url }}?t=d&action=p&cid={{ page.footer.extensions.releva.user_id }}&id={{ page.product.getId() }}"></div>
    {% elseif page.cmsPage is defined and page.cmsPage != null and page.cmsPage.type == 'product_list' %}
        <div id="relevanzRetargetingConfig" data-ascync="async" data-src="{{ page.footer.extensions.releva.tracker_url }}?t=d&action=c&cid={{ page.footer.extensions.releva.user_id }}&id={{ page.cmsPage.getId() }}"></div>
    {% else %}
        <div id="relevanzRetargetingConfig" data-ascync="async" data-src="{{ page.footer.extensions.releva.tracker_url }}?t=d&action=s&cid={{ page.footer.extensions.releva.user_id }}"></div>
    {% endif %}
{% endif %}